
  /* General componente App */




.App{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(2, 21, 37);
  color: white;
}


.image{
  margin-top: 40px;
  width: 100%;
  height: 30vh;
}

.contendor-formulario{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.contendor-input{
  width: 50%;
  height: 25px;
  background-color: rgb(225, 239, 245);
  border: 3px solid rgb(128, 208, 241);
}


button{
  width: 18%;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(53, 151, 175);
  border:  none;
  color: white;
  font-size: 25px;
  font-weight: bold;
  border: 3px solid rgb(35, 137, 204);
}

button:hover{
  background-color: rgb(30, 44, 83);
  transition: all 1.5s ease;
  
}

.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 30px;
  margin-bottom: 35px;
}





 /* Componente LocationInfo */





.location{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  
}

.location h2{
  font-size: 30px;
  color: rgb(42, 167, 199);
  font-weight: bold;
}

.info{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 30px;
  height: 10px;
}

.location span{
  font-size: 20px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  padding: 5px 20px;

}






 /* Componente card */




 

.card{
  width: 600px;
  border: 1px solid rgb(29, 27, 66);
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  background-color: rgb(43, 50, 87);
  box-shadow: 10px 5px 5px rgb(15, 19, 24);
}

header{
  margin: 10px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  
}

.span{
  padding-bottom: 10px;
  font-size: 20px;
  color: rgb(42, 167, 199);
  font-weight: bold;
}


.card img{
  border-radius: 20px;
  width: 100%;
}

.Alive{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: green;
  display: inline-block;
  margin: 0 3px;
}
.Dead{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(128, 0, 6);
  display: inline-block;
  margin: 0 3px;
}
.unknown{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(178, 182, 178);
  display: inline-block;
  margin: 0 3px;

}

ul{
  list-style: none;
}

.description{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.description h3{
  color: rgb(20, 140, 238);
  font-size: 25px;
}

.description li{
  color: white;
  font-size: 18px;
}


/* Responsive design */

@media screen and (max-width: 800px) {
  

  .card{
    width: 300px;
    display: flex;
    flex-direction: column;
   
  }

  .contendor-formulario{
    width: 100%;
    flex-direction: column;
  
  }

  button{
    width: 200px;
    
  }

}


@media screen and (max-width: 400px) {

  .image{
    width: 300px;
    
  }
  
  
 .App{
  width: 100%;
  
 }

  .card{
    width: 300px;
  
  }

  .card img{
    border-radius: 20px;
    width: 200px;
  }

  .contendor-formulario{
    width: 100%;
    flex-direction: column;
  
  }

  button{
    width: 200px;
    
  }

  .container{
    gap: 2px;
    
  }

}